<launch>

  <!-- Launch the real rover nodes and the imu node -->
  <include file="$(find roverrobotics_driver)/launch/zero2_teleop.launch"/>
  <include file="$(find razor_imu_9dof)/launch/razor-pub.launch"/>

  <!-- Run a python script to start the navigator node -->
  <node name="navigator" pkg="nav_unit" type="Navigator.py" respawn="true" output="screen">
    <param name="is_sim" type="bool" value="false" />
  </node>

  <!-- Run the Kalman filter node with remapped topics -->
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom_combined"/>
    <param name="base_footprint_frame" value="base_footprint"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>  
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="true"/>
    <remap from="imu_data" to="odometer/imu" />
  </node>

</launch>
